<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <body>
        <img th:src="${persona.getUrlFoto()}" th:attr="alt=${persona.getNombres()}" referrerpolicy="no-referrer"/>
	    <h2 th:text="'Hola, ' + ${persona.getNombres()} + ' ' + ${persona.getApellidos()}"></h2>
	    <p th:text="'Correo electronico: ' + ${persona.getCorreoElectronico()}"></p>
	    <p th:text="'Rol: ' + ${persona.getRol()}"></p>
	    <p th:if="${persona.getCelular() == null}" th:text="'Celular: -- Sin guardar -- '"></p>
	    <p th:if="${persona.getCelular() != null}" th:text="'Celular: ' + ${persona.getCelular()}"></p>
	    <a th:href="@{/logout}">Cerrar sesión</a>
    </body>
</html>